# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.tox/
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Local config
.env
.env.*
*.log
