# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.env
.env.*
*.sqlite3

# Poetry
poetry.lock
# (à inclure seulement si tu veux que chaque dev gère son propre lock)

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
dist/
build/

# Test
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/

# Environnement local
.robin-env/
